{% extends 'base.html.twig' %}

{% block body %}



{% for tels in tels %}
    <p>Votre téléphone {{tels.marque}} {{tels.type}} correspond à votre recherche! (QueryBuilder)</p>
{% endfor %}

{% endblock %}
