{% extends 'base.html.twig' %}

{% block body %}



{% for tels in tels %}
    <p>Votre téléphone {{tels.marque}} {{tels.type}} de {{tels.taille}} pouces fait parti des marques correspondant à votre recherche!</p>
{% endfor %}

{% endblock %}
